.header {
    width: 100%;
    height: 30px;
    margin: 0;
    background: white;
    border-bottom: 1px solid #E0E0E0;
}

.title{
    color: #F44336;
    font: 25px arial, sans-serif;
    float: left;
}

.authentication{
    text-align: right;
    font: 14px arial,sans-serif;
}